* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 2em;
}

/* Header */

.header {
	display: grid;
	background-color: #515151;
	grid-template-columns: 
	1fr minmax(400px, auto);
}

/* Logo */

.logo {
	display: grid;
	grid-template-columns: 150px 150px 1fr;
	align-items: center;
}

.inner-show1 {
	position: absolute;
	top: 35px;
	left: 50px;
	width: 50px;
	height: 35px;
	background: #C83C36;
	transform: skewX(-15deg);
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	z-index: 100;
}

.inner-show2 {
	position: absolute;
	top: 35px;
	left: 50px;
	width: 50px;
	height: 35px;
	background: #62CA34;
	transform: skewX(-15deg);
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	z-index: 99;
}

.inner-show3 {
	position: absolute;
	top: 35px;
	left: 50px;
	width: 50px;
	height: 35px;
	background: #3792C7;
	transform: skewX(-15deg);
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	z-index: 101;
}

.show:hover .inner-show2 {
	top: 25px;
	left: 60px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.show:hover .inner-show3 {
	top: 45px;
	left: 40px;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.logo-img {
	width: 100px;
	height: 100px;
}

h1 {
	color: white;
	font-family: 'Rubik', sans-serif;
}

/* Menu big*/

.menu {
	display: grid;
	grid-template-columns: 
	repeat(minmax(33.33%, auto));
	grid-template-rows: auto auto;
	grid-template-areas: 
		"menu-1 menu-2 menu-3"
		"menu-4 menu-4 menu-4";
	text-align: center;
}

.menu1 {
	border: 1px solid #3A3A3A;
	padding: 10px;
	color: white;
}

.menu1:hover {
	background-color: #383838;
}

.menu-1 {
	grid-area: menu-1;
}

.menu-2 {
	grid-area: menu-2;
}

.menu-3 {
	grid-area: menu-3;
}

.menu-4 {
	grid-area: menu-4;
}

/* Mobile menu*/

.mobile-menu {
	text-align: right;
	display: none;
	position: relative;
	background-color: #515151;
	vertical-align: middle;
}

.mobile-btn {
	font-size: 40px;
	font-weight: bold;
	padding: 10px;
	padding-top: 5%;
	padding-right: 30px;
	color: white;
}

.mobile-menu:hover .inner-mobile-menu {
	display: block;
}

.inner-mobile-menu {
	text-align: center;
	display: none;
	position: absolute;
	width: 100%;
	background: #D6D6D6;
	top: 102px;
}

.inner-menu {
	border-bottom: 1px solid #A0A0A0;
}

.inner-menu:hover {
	background: #BFBFBF;
}

@media all and (min-device-width : 320px) and (max-device-width : 800px) {
	.menu {display: none;}
	.mobile-menu {display: block;}
	.header {grid-template-columns: 
	1fr minmax(600px, auto);}
}

