* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 20px;
}

/* Header */

.header {
	background-image: url('img/bgbanner.png');
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
	padding-top: 47px;
	position: relative;
}

.logo {
	display: inline-block;
	padding-left: 245px;
	width: 33%;
	color: white;
	font-size: 31px;
}

/* Main menu for big display */

.menu {
	display: inline-block;
	width: 66%;
	text-align: right;
	padding-right: 143px;
}

.nav-menu a {
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: white;
}

.navigation {
	display: inline-block;
	color: white;
	margin-left: 45px;
}

.navigation:hover {
	border-bottom: 2px solid #E6D70E;
	padding-bottom: 10px;
}

.nav-menu a:hover {
	color: #E6D70E;
}

@media all and (max-width: 1024px) {
	.logo {padding-left: 45px;}
}

@media all and (max-width: 1150px) {
	.menu {padding-right: 25px;}
}

/* Menu for small display */

.drop {
	display: none;
	width: 33%;
}

.menu-mobile {
	display: none;
	width: 33%;
	position: relative;
	font-size: 32px;
	font-weight: bold;
	color: white;
	text-align: right;
	margin: 0 auto;
	padding-right: 50px;
}

.nav-menu-mobile {
	display: none;
	width: 100%;
	position: absolute;
	top: 20px;
	left: -55px;
	z-index: 10;
	background-color: #E5E5E5;
	list-style: none;
	
}

.menu-mobile:hover .nav-menu-mobile {
	display: block;
}

.navigation-mobile {
	text-align: center;
	border-bottom: 2px solid #A3A3A3;
	padding: 15px;
}

.navigation-mobile:hover {
	background-color: #BCBCBC;
}

.navigation-mobile a {
	text-decoration: none;
	color: black;
	font-size: 16px;
}

@media all and (max-width: 1024px) {
	/*.header {height: 50vh;}*/
	.menu {display: none;}
	.menu-mobile {display: inline-block;
		font-size: 50px;}
	.drop {display: inline-block;}
	.navigation-mobile a {
		font-size: 22px;
	}
}

@media screen and (orientation: portrait) { 
	.header {height: 50vh;}
  }

/* Baner text */

.main-text {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	vertical-align: middle;
	max-width: 730px;
}

h1 {
	color: white;
	font-size: 72px;
	margin-bottom: 50px;
	font-weight: 300;
	letter-spacing: 8px;
}

.main-text p {
	color: white;
	font-size: 18px;
	line-height: 2em;
}

/* Section 1: History; */

.history {
	display: flex;
	width: 100%;
	min-height: 67vh;
	background-color: #af1d1d;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}

.img-roll {
	flex-basis: 40%;
	display: flex;
	justify-content: center;
}

.img-roll img {
	max-width: 350px;
	box-shadow: 0px 0px 25px 3px #4C4C4C;
}

.text-history {
	flex-basis: 40%;
	color: white;
	text-align: center;
	justify-content: flex-start;
}

h2 {
	font-family: 'Alex Brush', cursive;
	font-size: 56px;
	padding-bottom: 25px;
	margin-top: 25px;
	/*border-bottom: 2px solid white;*/
}

.border-text {
	width: 100px;
	margin: 0 auto;
	border-bottom: 2px solid white;
	margin-bottom: 25px;
}

.text-history p {
	font-size: 18px;
	line-height: 2em;
}

@media all and (max-width: 1024px) { 
	.img-roll img {
		max-width: 250px;
	}

	.history {
	min-height: 30vh;
	/*-ms-align-items: center;
	align-items: center;*/
	}
}

@media screen and (orientation: landscape) and (max-width: 1024px) { 
	.history {
	min-height: 50vh;
	}

	.text-history {flex-grow: 1;}

	.img-roll {flex-basis: 30%;}
 }
